name: Run scrape

on:
  schedule:
    # - cron: "*/20 * * * *"
    # - cron: "0 3,12,15,18,21 * * *"
    - cron: "0 0,12 * * *"
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest
    environment: MTFP projects
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
          cache: "pip"
      - name: Install Python libraries
        run: pip install -r requirements.txt
#       - name: Scrape updated bills
#         if: github.event_name != 'schedule' || (github.event_name == 'schedule' && github.event.schedule == '*/20 * * * *')
#         run: python3 scrape-cached.py
      - name: Scrape all bills
#         if: github.event_name == 'schedule' && github.event.schedule != '*/20 * * * *'
        run: python3 scrape-full.py
      - name: Add and commit
        uses: EndBug/add-and-commit@v9
        with:
          committer_name: "Automated"
          committer_email: "action@users.noreply.github.com"
          message: "Latest data"
      - name: Push
        run: git push
      - name: Trigger frontend redeploy
        if: success()
        run: |
          curl -X POST \
          -H "Authorization: Bearer ${{secrets.GH_ACCESS_TOKEN}}" \
          -H "Accept: application/vnd.github.v3+json" \
          https://api.github.com/repos/eidietrich/capitol-tracker-23/actions/workflows/main.yml/dispatches \
          -d '{"ref": "main"}'
      - name: Slack Notification on cached scrape SUCCESS
#         if: success() && github.event_name == 'schedule' && github.event.schedule == '*/20 * * * *'
        uses: tokorom/action-slack-incoming-webhook@main
        env:
          INCOMING_WEBHOOK_URL: ${{ secrets.SLACK_ERIC_TEST_NOTIFICATIONS_WEBHOOK_URL }}
        with:
          text: "LAWS interface data updated"
#       - name: Slack Notification on cached scrape SUCCESS
#         if: success() && github.event_name == 'schedule' && github.event.schedule != '*/20 * * * *'
#         uses: tokorom/action-slack-incoming-webhook@main
#         env:
#           INCOMING_WEBHOOK_URL: ${{ secrets.SLACK_ERIC_TEST_NOTIFICATIONS_WEBHOOK_URL }}
#         with:
#           text: "Deep data scrape from LAWS was successful"
      - name: Slack Notification on FAIL
        if: failure()
        uses: tokorom/action-slack-incoming-webhook@main
        env:
          INCOMING_WEBHOOK_URL: ${{ secrets.SLACK_ERIC_TEST_NOTIFICATIONS_WEBHOOK_URL }}
        with:
          text: "ERROR - something broke with data scrape from LAWS"
